<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a href="{{{wwwroot}}}/admin/tool/category_admin/edit_manager.php" class="btn btn-outline-success">{{#str}}add, tool_category_admin{{/str}}</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            {{#str}}name, tool_category_admin{{/str}}
                        </th>
                        <th>
                            {{#str}}category, tool_category_admin{{/str}}
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#managers}}
                    <tr>
                        <td>
                            <a href="{{{wwwroot}}}/admin/tool/category_admin/edit_manager.php?id={{{id}}}">{{{name}}}</a>
                        </td>
                        <td>
                            {{{category}}}
                        </td>
                        <td>
                            <a href="javascript:void(0);" 
                               class="btn btn-outline-dangerous btnDeleteUser" 
                               data-id="{{{id}}}" 
                               title="{{#str}}delete, tool_category_admin{{/str}}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    
                    {{/managers}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{#js}}
require(['tool_category_admin/managers'], function(mod) {
mod.init();
});
{{/js}}